{erl_opts,
  [
    debug_info,
    %warnings_as_errors,
    inline
  ]}.
{deps, []}.

{relx,
  [
    {
      release,
      {kademlia_dht, "0.1.0"},
      [
        %%  OTP assets
        {kernel, "8.3.1"},
        {stdlib, "3.17.1"},
        {sasl, "4.1.2"},
        {mnesia, "4.20.3"},
        {crypto, "5.0.6"},

        %%  kademlia assets
        {kademlia_dht, "0.1.0"}
      ]
    },

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false}
  ]
}.

{profiles,
  [
    {prod,
      [
        {relx,
          [
            {dev_mode, false},
            {include_erts, true},
            {overlay, [ 
                {mkdir, "db"},
                {mkdir, "doc"},
                {copy,  "doc",  "doc"},
                {mkdir, "etc"},
                {copy,  "etc",  "etc"}
            ]}
          ]
        }
      ]
    }
  ]
}.

{pre_hooks, [
  %{"(linux|darwin|solaris)", compile, "make -C dir_to_macke_file/c_src"},
  %{"(freebsd)", compile, "gmake -C dir_to_macke_file/c_src"}
]}.
{post_hooks, [
  %{"(linux|darwin|solaris)", clean, "make -C dir_to_macke_file/c_src clean"}
  %{"(freebsd)", clean, "gmake -C dir_to_macke_file/c_src clean"}
]}.

{extended_start_script_extensions, [
   %{status, "./config/extensions/status"}
]}.